{% load i18n %}
{% load static %}
{% load allauth i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Change Password" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="icon" href="{% static 'polls/GonLara.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-wrapper">
        <h1 = class="h1">{% trans "Change Password" %}</h1>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ redirect_field }}
            {{ form.as_p }}

            <button type="submit">{% trans "Change Password" %}</button>
        </form>

        <p>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <p><a href="{% url 'polls:user' %}">Back to {{ user.username }}</a></p>
            <p><a href="{% url 'polls:index' %}">Zurück zur Übersicht</a></p>
            <p><a href="{% url 'polls:impressum' %}">Impressum</a></p>
        </p>
    </div>
</body>
</html>
